<div class="row">
  <form class="col s12 center-align">

    <h5 class="center-align">"Update Post"</h5>

    <div class="row">
      <div class="input col s12">
        <input id="post_name" type="text" value="{{post_name}}">
      </div>
    </div>

    <div class="row">
      <div class="input col s12">
        <textarea id="updateBody" class="updatePostBody">{{post_body}}</textarea>
      </div>
    </div>

    <button class="btn" type="submit">Update</button>

  </form>
</div>

<script src="../js/editPost.js"></script>
